{% extends 'layout_visitor.html.twig' %}

{% block body %}
    <section class="jumbo">
        <div class="jumbotron mt-5 jumbotron-fluid">
            <div class="container jumbo-text text-center">
                <h1 class="">Wild Spirit</h1>
                <p class="lead">Site de référencement d'association pour animaux</p>
            </div>

        </div>
    </section>

<section class="container-fluid associations pb-5 mb-5">

    <h2 class="assoc-title text-center py-5">Les Associations</h2>

<div class="flex-container assoc-card">

    {% for association in associations %}
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img mt-5"  alt="association">
        <div class="card-img-overlay">
            <h3 class="card-title">{{ association.name }}</h3>
            <h4 class="card-title">{{ association.title }}</h4>
            <p class="card-text">{{ association.description }}</p>
        </div>
    </div>
    {% endfor %}


    {#
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img"  alt="association">
        <div class="card-img-overlay">
            <h5 class="card-title">2</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img"  alt="association">
        <div class="card-img-overlay">
            <h5 class="card-title">3</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img"  alt="association">
        <div class="card-img-overlay">
            <h5 class="card-title">4</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img"  alt="association">
        <div class="card-img-overlay">
            <h5 class="card-title">5</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img"  alt="association">
        <div class="card-img-overlay">
            <h5 class="card-title">6</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img"  alt="association">
        <div class="card-img-overlay">
            <h5 class="card-title">6</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div>
    #}


</div>

</section>

{% endblock body %}
