{% extends 'layout_visitor.html.twig' %}

{% block body %}
    <section class="jumbo">
        <div class="jumbotron mt-5 jumbotron-fluid">
            <div class="container jumbo-text text-center">
                <h1 class="">Wild Spirit</h1>
                <p class="lead">Site de référencement d'association pour animaux</p>
            </div>

        </div>
    </section>

<section class="container-fluid associations pb-5 mb-5">

    <h2 class="assoc-title text-center py-5">Les Associations</h2>

<div class="flex-container assoc-card">

    {% for association in associations %}
    <div class="card my-2">
        <img src="{{ asset('build/images/associations/dog_hug.png') }}" class="card-img mt-5"  alt="association">
        <div class="card-img-overlay">
            <h3 class="card-title">{{ association.name }}</h3>
            <h4 class="card-title">{{ association.title }}</h4>
            <p class="card-text">{{ association.description }}</p>
        </div>
         <div class="category">
            <ul>
                {% for category in association.category %}
                    <li>
                        {% if category.name == "Refuges" %}
                            <i class="fas fa-home three"></i>
                        {% elseif category.name == "Chiens" %}
                            <i class="fas fa-dog one"></i>
                        {% elseif category.name == "Chats" %}
                            <i class="fas fa-cat two"></i>
                        {% elseif category.name == "Oiseaux" %}
                            <i class="fas fa-dove three"></i>
                        {% elseif category.name == "Poissons" %}
                            <i class="fas fa-fish one"></i>
                        {% elseif category.name == "Chevaux" %}
                            <i class="fas fa-horse-head two"></i>
                        {% else %}
                                {{ category.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

</div>

</section>

{% endblock body %}
